/* Styles for the input field to ensure it has a consistent appearance */
input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    padding-left: 10px;
}

/* Submit button styling with a full width, color, and hover effect */
input[type=submit] {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color:white;
    transition: border-color 0.25s;
    margin-top: 20px;
}

/* Hover effect for submit button */
input[type=submit]:hover {
    border-color: #646cff;
}

/* Cancel button styling, with width, height, and background color */
.cancelButton {
    width: 60%;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #AAAAAA;
    color:white;
    transition: border-color 0.25s;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Hover effect for cancel button */
.cancelButton:hover {
  border: 2px solid #646cff;
}
