/* Container for the home feed */
.HomeFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
  padding-top: 150px; 
  width: 100%; 
  box-sizing: border-box; 
}

/* Styles for the search bar */
.searchBar {
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-top: 20px; /* Optional: adjust margin for spacing */
  width: 600px;
  max-width: 100%; /* Ensure search bar doesn't overflow */
}

/* Styling for the sort button */
.sort {
  margin: 5px;
  margin-bottom: 0px;
  background-color: #64B668;
  padding: 5px;
}

/* Layout for the posts feed */
.feed-posts {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 100%; 
  max-width: 1200px; 
}

/* Adjustments for screens larger than 1280px */
@media (min-width: 1280px) {
  
  /* Modify the layout of HomeFeed container */
  .HomeFeed {
    padding-left: 50px;  
    padding-right: 200px; 
    max-width: 1280px;   
  }

  /* Ensure feed-posts container behaves responsively */
  .feed-posts {
    max-width: 100%; 
  }
}
