/* Styles for the loading page container, centering the content both vertically and horizontally */
.loading-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
}

/* Styles for the loading box, defining its background, padding, and alignment */
.loading-box {
    background-color: #4A9038;
    padding-bottom: 250px;
    border-radius: 15px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

/* Styles for the junimo logo within the loading page, including its size and rotation animation */
.loading-logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    animation: rotate 2s infinite linear;
}

/* Keyframes defining the rotation animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Styles for the loading text, including its size, color, and fade-in animation */
.loading-text {
    font-size: 75px;
    font-weight: bold;
    color: white;
    animation: fade-in 1s ease-out;
}

/* Keyframes defining the fade-in animation for the text */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
