/* Center the post section */
.postSection {
    border: 2px solid #B76C42;
    background-color: #F5D59B;
    border-radius: 30px;
    padding: 15px;
    margin-top: 40px;
    width: 800px;          /* Adjust the width as per your preference */
    margin-left: auto;     /* Center horizontally */
    margin-right: auto;    /* Center horizontally */
}

/* Comment section styling */
.commentSection {
    background-color: #B76C42;
    padding: 15px;
    padding-top: 5px;
    margin-bottom: 2%;
    border-radius: 5px;
}

/* Comment input field styling */
.commentInput {
    background-color: white;
    border-radius: 5px;
    height: 25%;
    width: 95%;
    font-size: 15px;
}

/* List styling for comments */
ul li {
    text-align: left;
    list-style: "- ";
}

ul {
    margin: auto;
    padding-left: 3%;
}

/* Upvote button styling */
.upvote-icon {
    width: 20px;
    height: 20px;
    padding-right: 7px;
    padding-bottom: 7px;
    transition: transform .2s;
}

.upvote-icon:hover {
    transform: scale(1.5);
}

.upvote-icon:active {
    transform: scale(0.8);
}

/* Likes container styling */
.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Heading style */
h4 {
    margin: 0;
}

/* Back button styling */
.back {
    background-color: #4A9038;
}

/* Content styling to preserve line breaks */
.content {
    white-space: pre-wrap; /* Ensure white-space formatting is preserved */
    word-wrap: break-word; /* Allow content to break at word boundaries */
}

/* Add overall padding to the page for spacing */
body {
    padding: 0 22%; /* Add padding to the left and right of the body for wider screens */
}
