.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #923434; 
    padding: 20px; 
    color: white; 
    font-size: 20px; 
}

ul {
    list-style: none; 
    padding: 0;
}

li {
    padding: 10px; 
}

li a {
    color: white; 
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

li a:hover {
    color: red; 
}
