:root {
  /* Set default font family, line height, and other typography settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #124682;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* Style links with a specific font weight and color */
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  /* Add hover effect to links with color change and custom cursor */
  color: #3d4eff;
  cursor: url('./assets/pbcurscolor.png'), auto;
}

body {
  /* Style the body with a background image and set layout properties */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  /* Style the main heading with size and line height */
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* Style buttons with rounded corners, padding, background, and cursor */
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  /* Add hover effect to buttons with color change and custom cursor */
  border-color: #3d4eff;
  cursor: url('./assets/pbcurscolor.png'), auto;
}

button:focus,
button:focus-visible {
  /* Focus effect for buttons to improve accessibility */
  outline: 4px auto -webkit-focus-ring-color;
}
